
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# lightning logs
/lightning_logs
/logs

# Model checkpoints
/model_checkpoints

# environment secrets
.env